flask
flask-login
flask-sqlalchemy
flask-wtf
werkzeug
python-dotenv
email-validator
tweepy>=4.16.0
apscheduler
Pillow
imageio
imageio-ffmpeg
google-api-python-client
google-auth-oauthlib
requests
numpy
stripe
gunicorn
